.btn-outline-primary{
    background-color: transparent;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    border-width: 10px;
    font-weight: 600;
    border: #cfb16d solid 3px;
}
.btn-outline-primary:hover{
    background-color: #cfb16d;
}
body{
    font-family: 'Bai Jamjuree';
}
.w_99{
    width: 97%;
}
.text-cfb16d{
    color: #cfb16d;
}
.btn-inline-primary{
    background-color: #cfb16d;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    border-width: 10px;
    border: #cfb16d solid 3px;
}
.btn-inline-primary-sm{
    background-color: #cfb16d;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 10px;
    border: #cfb16d solid 3px;
}
.btn-inline-primary:hover{
    background-color: transparent;
}